<!DOCTYPE html>
<html lang="en">

<!--Required meta head-->

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale =1.0" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://css.gg/css?=menu" rel="stylesheet">
    <link rel="stylesheet" href="/public/homepage.css">
    <link rel="stylesheet" href="/public/header.css">
    <link rel="icon" href="/public/dollar.png">
</head>

<!-- Beginning of coding-->

<body>
    <div class="header">
        <a href="page.html" class="crypto">Crypto'</a>
        <a href="page.html" class="comp">comp</a>
    </div>
    <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()"><i class="gg-menu"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/views/byname.html?name=Bitcoin">Bitcoin</a>
            <a href="/views/byname.html?name=Ethereum">Ethereum</a>
            <a href="/views/byname.html?name=Tether">Tether</a>
            <a href="/views/byname.html?name=BNB">BNB</a>
            <a href="/views/byname.html?name=USD Coin">USD</a>
            <a href="/views/byname.html?name=Solana">Solana</a>
            <a href="/views/byname.html?name=XRP">XRP</a>
            <a href="/views/byname.html?name=Cardano">Cardano</a>
            <a href="/views/byname.html?name=TerraUSD">Terra</a>
            <a href="/views/byname.html?name=Binance USD">Binance</a>
        </div>
    </div>
    <div class="body">
        <div class="box">
            <div class="box1">
                <h1 class="box1_title">Most expensive</h1>
                <a href="/views/byname.html" class="first1"> Loading</a>
                <a href="/views/byname.html" class="second1"> Loading</a>
                <a href="/views/byname.html" class="third1"> Loading</a>
            </div>
            <div class="box2">
                <h1 class="box2_title">Most rising</h1>
                <a href="/views/byname.html" class="first2"> Loading</a>
                <a href="/views/byname.html" class="second2"> Loading</a>
                <a href="/views/byname.html" class="third2"> Loading</a>
            </div>
            <div class="box3">
                <h1 class="box3_title">Most circulating</h1>
                <a href="/views/byname.html" class="first3">Loading</a>
                <a href="/views/byname.html" class="second3">Loading</a>
                <a href="/views/byname.html" class="third3">Loading</a>
            </div>
        </div>
        <div class="table">
            <table id="data"></table>
            <script src="../public/api.js"></script>
        </div>
    </div>
    <div class="footer">
        <h3 class="mentions">Mentions Légales</h3>
        <ul class="legales">
            <li>
                <p>Le présent site est la propriété de</p>
            </li>
            <li>
                <p>Ynov Toulouse Campus</p>
            </li>
            <li>
                <p>Le site est hébérgé par un serveur local</p>
            </li>
        </ul>
        <h3 class="contact">Contact</h3>
        <ul class="link">
            <li>
                <p>Adresse :</p>
                <a href="https://www.google.com/maps/place/2+Pl.+de+L%E2%80%99Europe,+31000+Toulouse/@43.6104429,1.429969,17z/data=!3m1!4b1!4m5!3m4!1s0x12aebb4293a9ff75:0xb8db8e50d233e50!8m2!3d43.6104429!4d1.432163">
                2 place de l'Europe, 31000 Toulouse</a>
            </li>
            <li>
                <p>Web :</p><a href="https://www.ynov.com/campus/toulouse">https://www.ynov.com/campus/toulouse</a> </li>
            <li>
                <p>Email : </p><a href="mailto:#">contact.campus@ynov.com</a></li>
            <li>
                <p>Tel : </p><a href="tel:#">0800 600 633</a></li>
        </ul>
        <div class="col-lg-3 item social">
            <a href="https://fr-fr.facebook.com/YnovToulouse/"><i class="icon ion-social-facebook"></i></a>
            <a href="https://twitter.com/ynovtoulouse"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/toulouse_ynovcampus/?hl=fr"><i class="icon ion-social-instagram"></i></a>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </div>
    <script src="../public/sidebar.js"></script>
    <script src="../public/api.js"></script>
    <script src="../public/compare.js"></script>


</body>

</html>