.header{
    left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(4,25%);
    background: linear-gradient(45deg , #05212d, #05304b);
    z-index: 2;
}
.header:before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:50%;
    background-color: white;
    clip-path: ellipse(60% 100% at 50% 100%);
    z-index: 2;

}
.crypto{
    font-family: "Altona Sans";
    font-size: 1000%;
    grid-column: 2;
    color: #dcdcdc;
    margin-top: 20%;
    text-align: right;
}


.comp{
    font-size: 1000%;
    font-family:"EncodeSans" ;
    grid-column: 3;
    color: #b1cde7;
    margin-top: 16%;
    text-align: left;
}
.header a{
     text-decoration: none;
 }

.dropdown{
    position: absolute;
    top: 2%;
    width: 15%;
    height: 70%;
    left: 2%;
    z-index: 4;
    float: left;
}
.dropdown .dropbtn{
    cursor: pointer;
    border: none;
    outline: none;
    width: 20%;
    height: 7%;
    padding-left: 7%;
    padding-top: 2%;
    background-color: transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 50%;
    min-height: 100%;
    grid-column: 1;
    padding-left: 10%;
    z-index: 5;
    margin-left: 5%;
}
.dropdown-content a {
    float: none;
    color: #dcdcdc;
    width: 100%;
    text-decoration: none;
    display: block;
    font-size: 150%;
    font-family: "Altona Sans";
    text-align: left;
    padding-left: 10%;
    padding-bottom: 7%;
    padding-top: 7%;

}

.dropdown-content a:hover{
    width: 75%;
    background-color: rgba(164, 199, 218, 0.2);
    padding-left: 10%;
}

.show {
    display: block;
}


.gg-menu {
    color: rgba(220, 220, 220, 0.86);
    transform:scale(1.5);
}

